@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Rajdhani:wght@500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body {
    font-family: 'Inter', sans-serif;
    background-color: #121212;
    color: #ffffff;
    user-select: none;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  button,
  label,
  select,
  option {
    font-family: 'Rajdhani', sans-serif;
  }

  input,
  textarea,
  [contenteditable='true'],
  .select-text {
    user-select: text;
  }
}
